# Ignore data files
data/*.csv
data/*.xlsx

# Ignore databases
*.sqlite
*.db

# Ignore environment files
.env

# Ignore virtual environments
venv/
__pycache__/
*.pyc

# Ignore OS/system files
.DS_Store
Thumbs.db
